---
Checks:          'checks=-*,cppcoreguidelines-*,-cppcoreguidelines-pro-type-union-access'
CheckOptions:
  - key:             cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues
    value:           '0;1;255;65535'
  - key:             cppcoreguidelines-avoid-magic-numbers.IgnorePowersOf2IntegerValues
    value:           '1'
  - key:             cppcoreguidelines-avoid-magic-numbers.IgnoredFloatingPointValues
    value:           '0;0.5;1;2'
...

