[submodule "RealWorld"]
	path = RealWorld
	url = https://github.com/ZADNE/RealWorld.git
	branch = main
[submodule "RealEngine"]
	path = RealEngine
	url = https://github.com/ZADNE/RealEngine.git
	branch = main
